body {
    background-color: #99CED3;
    margin: 0;
}

.fa-times {
    font-size: 25px;
}

.hlr-send-request, .hlr-statistics, .hlr-request-history {
    margin-left:auto;
    margin-right:auto;
    background: white;
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.3);

    width: clamp(250px, 90vw, 600px);;
    position: relative;
}

.hlr-send-request {
    margin-top: 10%;
}

.msg {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .hlr-send-request {
        margin-top: 20%;
    }
    .msg {
        margin-top: 20%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.hlr-send-request img {
    border: 1px solid black;
    border-radius: 50%;
    width: clamp(58px, 8vw, 70px);
    position: absolute;
    top: -35px;
    left: 40px;
}

.form-hlr-send-request > .datePicker {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .form-hlr-send-request > .datePicker {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .datePicker > .from-wrapper {
        margin-bottom: 10px;
    }
}



.form-hlr-send-request > .textarea-wrapper {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.textarea-wrapper > label[for=reasonHLR] {
    margin-bottom:5px;
}

.textarea-wrapper > textarea {
    width: clamp(250px, 42vw, 400px);
    height: 100px;
    overflow-y:scroll;
    resize:none;
}

label[for=from], label[for=to], #from {
    margin-right: 20px;
}


/* Btn form */
.btnHolidayRequest {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    font-size: clamp(15px, 2vw, 30px);
    color: black;
    background-color: Transparent;
    text-decoration: none;
    font-family: Sans-serif;
    font-weight: bolder;
    border: 2px solid black;
    padding: 8px;
    border-radius: 15px;
}

.enabledHLRbtn{
    background-color: #42ff96;
}

.disabledHLRbtn{
    background-color: #f35151;
}

.hlr-statistics > h3, .hlr-request-history > h3 {
    padding-top:10px;
    display: flex;
    justify-content: center;
}



.hlr-statistics-list {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-inline-start: 0px !important;
}


.hlr-statistics-list > li {
    list-style-type: none;
}

.hlr-statistics-list > li:not(:last-child) {
    margin-right: 15px;
}

@media screen and (max-width: 650px) {
    .hlr-statistics-list {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hlr-statistics-list > li:not(:last-child) {
        margin-right: unset;
    }

}

.hlr-request-history {
    margin-bottom: 100px;
    padding-bottom: 20px;
}
.requests-table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: clamp(12px, 2.5vw, 18px);
}

.requests-table, th, td {
    border: 1px solid black;
}

.requests-table th, td {
    padding: clamp(5px, 1vw, 10px);
    text-align: center;
}

.requests-table th {
    background-color: whitesmoke;
}

