body {
    background-color: #6FB3B8;
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: lightblue;*/
    color: #fff;
    height: auto;
    text-align: center;
    font-size: 18px;
}

.btnview button {
    font-size:20px;
    color: white;
    background-color: green;
    text-decoration: none;
    font-family:  Sans-serif;
    font-weight: bolder;
    border: 2px solid lightblue;
    padding: 10px;
    border-radius: 15px;

}

.btnview a:hover {
    color: #6FB3B8;
    -webkit-text-stroke: 0.8px #fff;
}
