body {
    background-color: #99CED3;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0;
}

/* Center the form both horizontally and vertically in the center */
.main-parent {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #5F6366;
    width: clamp(200px, 80vw, 400px);
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.login-title {
    padding-top: 40px;
    color: #EDB5BF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.email, .employeeId, .department {
  display: block;
  width: clamp(200px, 60vw, 300px);
  outline: none;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid black;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.email, .department, .employeeId {
    margin-bottom: 20px;
}

.submit {
    display: block;
    box-sizing: border-box;
    width: clamp(200px, 60vw, 300px);
    text-align: center;
    margin-top: 20px;
}

.submit, .forgot {
    margin-block: 20px;
    text-align: center;
}

.email:focus, .employeeId:focus, .department:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}
.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #86B3D1, #EDB5BF);
    border: 0;
    padding-inline: 40px;
    padding-block: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #EDB5BF;
}

.forgot > a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #EDB5BF;
    text-decoration: none
}
