
.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.navbar {
    text-align:center;
}

.navbar a {
    font-size: 2rem;
}
@media screen and (max-width: 600px) {
    .navbar a {
        font-size: 1.8rem;
    }
}

.navbar a:not(:last-child) {
    margin-right:25px;
}

