body{
    font-family: Segoe UI, Helvetica, sans-serif;
}


span {
    display: none;
    font-size: 25px;
}

.active {
    border-bottom: 5px solid white;
}


.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

.navbar {
    text-align:center;
}

.navbar a {
    font-size: clamp(25px, 4.5vw, 50px);
    text-decoration: none;
    padding: 15px;
}


#logo {
    width:clamp(120px, 20vw, 200px);
    height:30vh;
    background-image: url("../Images/MediaBazaarLogo.png");
    background-repeat: no-repeat;
    background-size: clamp(120px, 20vw, 200px) 30vh;
}

.navbar a:not(:last-child) {
    /*margin-right:clamp(5px, 1vw ,70px);*/
}


a:hover i{
    display: none;
}
a:hover span{
    display: unset;
}


/* TODO: Phone view navbar */
@media screen and (max-width: 460px) {

}

.progress_bar_container {
    background-color: white;
    border-radius: 15px;
}

.progress_bar {
    background-color: black;
    padding: 1%;
    border-radius: 15px;

    /* element 1
    width: 20%;
    margin-left: 0%; */

    /* element 2
    width: 20%;
    margin-left: 26%; */

    /* element 3
    width: 20%;
    margin-left: 53%; */

    /* element 4 */
    width: 15%;
    margin-left: 0%;
}


